<%- include ('partials/header.ejs'); -%>
    <div class="btn-group">
        <form action="/interesting_facts_bat" >
             <button type="submit">Batting</button>
        </form>
        <form action="/interesting_facts_bowling" >
             <button type="submit">Bowling</button>
        </form>
    </div>
</div>
</body>
</html>