<%- include ('partials/header.ejs'); -%>
    <div class="btn-group">
        <form action="/interesting_facts_bat" >
             <button type="submit">Batting</button>
        </form>
        <form action="/interesting_facts_bowling" >
             <button type="submit">Bowling</button>
        </form>
    </div>
</br>
</br>
    <div class="btn-group">
        <form action="/interesting_facts/wicket" >
             <button type="submit">Most Wickets</button>
        </form>
        <form action="/interesting_facts/dot" >
             <button type="submit">Most Dot Balls</button>
        </form>
        <form action="/interesting_facts/maiden" >
             <button type="submit">Most Maiden Overs</button>
        </form>
        <form action="/interesting_facts/economy" >
             <button type="submit">Lowest Economy</button>
        </form>
    </div>
</div>
</body>
</html>