<%- include ('partials/header.ejs'); -%>
    <div class="btn-group">
        <form action="/interesting_facts_bat" >
             <button type="submit">Batting</button>
        </form>
        <form action="/interesting_facts_bowling" >
             <button type="submit">Bowling</button>
        </form>
    </div>
</br>
</br>
    <div class="btn-group">
        <form action="/interesting_facts/runs" >
             <button type="submit">Most Runs</button>
        </form>
        <form action="/interesting_facts/tscore" >
             <button type="submit">Top Most Score</button>
        </form>
        <form action="/interesting_facts/strike" >
             <button type="submit">Highest Strike Rate</button>
        </form>
        <form action="/interesting_facts/f50" >
             <button type="submit">Fastest 50</button>
        </form>
        <form action="/interesting_facts/f100" >
             <button type="submit">Fastest 100</button>
        </form>
        <form action="/interesting_facts/m50" >
             <button type="submit">Most 50s</button>
        </form>
        <form action="/interesting_facts/m100" >
             <button type="submit">Most 100s</button>
        </form>
        <form action="/interesting_facts/m4" >
             <button type="submit">Most 4s</button>
        </form>
        <form action="/interesting_facts/m6" >
             <button type="submit">Most 6s</button>
        </form>
    </div>
</div>
</body>
</html>
