<%- include ('partials/header.ejs'); -%>
    <div class="btn-group">
        <form action="/points/8" >
             <button type="submit">2008</button>
        </form>
        <form action="/points/9" >
             <button type="submit">2009</button>
        </form>
        <form action="/points/10" >
             <button type="submit">2010</button>
        </form>
        <form action="/points/11" >
             <button type="submit">2011</button>
        </form>
        <form action="/points/12" >
             <button type="submit">2012</button>
        </form>
        <form action="/points/13" >
             <button type="submit">2013</button>
        </form>
        <form action="/points/14" >
             <button type="submit">2014</button>
        </form>
        <form action="/points/15" >
             <button type="submit">2015</button>
        </form>
        <form action="/points/16" >
             <button type="submit">2016</button>
        </form>
        <form action="/points/17" >
             <button type="submit">2017</button>
        </form>
    </div>
</div>
</body>
</html>